<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
 </configSections>
<connectionStrings>
     <add name="DefaultConnection" connectionString="Data Source=11.5.0.118;Server Type=0;Port Number=3099;Database=p:\fbdatas4\lumi5.com.fb3;Dialect=3;Charset=ISO8859_1;Pooling=true;Min Pool Size=10;Max Pool Size=200;Connection Timeout=100;Connection Lifetime=1000;Fetch Size=2000;Packet Size=16384;User Id=SYSDBA;Password=MonDxwnkl88" />
  </connectionStrings>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="FirebirdConnectionString" value="Data Source=11.5.0.118;Server Type=0;Port Number=3099;Database=p:\fbdatas4\lumi5.com.fb3;Dialect=3;Charset=ISO8859_1;Pooling=true;Min Pool Size=10;Max Pool Size=200;Connection Timeout=10;Connection Lifetime=10;Fetch Size=2000;Packet Size=16384;User Id=SYSDBA;Password=MonDxwnkl88" />
    <add key="FirebirdLogConnectionString" value="Data Source=11.5.0.118;Server Type=0;Port Number=3099;Database=p:/fbdatas4/norpanet_log.fb3;Dialect=3;Charset=ISO8859_1;Pooling=False;Min Pool Size=0;Max Pool Size=200;Connection Timeout=10;Connection Lifetime=60;Fetch Size=200;User Id=SYSDBA;Password=MonDxwnkl88" />
   
    <add key="OpenIdRpxApiKey" value="" />    
    <add key="SiteName" value="NorpaNet" />  
	  <add key="siteculture" value="fi-FI" />  
	  <add key="siteUIculture" value="fi-FI" />
    <add key="UseCultureOverride" value="true" />
    <add key="UseCustomHandlingForPersianCulture" value="false" />
    <add key="SetUICultureWhenSettingCulture" value="false" />    
    <add key="ActiveFacebookLogin" value="true" />  
    <add key="FacebookLoginAppId" value="462962520569090" />
    <add key="FacebookLoginAppSecret" value="629567f0a2a87baa2dae766e034cbc1c" />
    <add key="ActiveTwitterLogin" value="true" />  
    <add key="TwitterConsumerKey" value="uioHkLiFYLWGLoGzceLnQ" />
    <add key="TwitterConsumerSecret" value="WySNY25VbVy8QARu44HnwDbI7M7RatGZiyYfS2GfbY8" />
    <add key="ActiveMicrosoftLogin" value="true" />
    <add key="MicrosoftclientId" value="0000000040194213" />
    <add key="MicrosoftclientSecret" value="wZO87z4SOI790o6gl-suVV1Rq1ggdmxz" />
    <add key="ActiveGoogleLogin" value="true" />
    <add key="GoogleclientId" value="687339924526-h313f7c688c18r6kcl6bfrh2r20l5eui.apps.googleusercontent.com" />
    <add key="GoogleclientSecret" value="KDxkxi1_mOajphOhF-tNueEA" />
    <!--Use SandBox default = true-->
    <add key="PayPalbSandbox" value="true" />            
    <add key="PayPalBrandName" value="Wingtip Toys for Firebird 3 Sample Application" />       
    <add key="PayPalCurrency" value="EUR" />
    <!--Config PayPal Product-->    
    <add key="PayPalpEndPointURL" value="https://api-3t.paypal.com/nvp" />         
    <add key="PayPalhost" value="www.paypal.com" />                 
    <add key="PayPalAPIUsername" value="arcantar_api1.adhes.net" />          
    <add key="PayPalAPIPassword" value="S7CLUVM365Z7XA8P" />          
    <add key="PayPalAPISignature" value="AR55vMdZiYS3jgQnv2neLo4CNeCkApi7RfWx0Fmi10rSLOKxPSC7r9m5" />  
    <add key="PayPalCheckoutReviewURL" value="http://NorpaNet.tetrasys.fi/Checkout/CheckoutReview.aspx" /> 
    <add key="PayPalCheckoutCancelURL" value="http://NorpaNet.tetrasys.fi/Checkout/CheckoutCancel.aspx" />       
    <!--Config PayPal Sand Box-->    
    <add key="PayPalpEndPointURL_SB" value="https://api-3t.sandbox.paypal.com/nvp" />      
    <add key="PayPalhost_SB" value="www.sandbox.paypal.com" />              
    <add key="PayPalAPIUsername_SB" value="sales_api1.tetrasys.eu" />       
    <add key="PayPalAPIPassword_SB" value="1392915822" />       
    <add key="PayPalAPISignature_SB" value="AW.DZwz8Jbj4HW4JJBASAX2Kngc.Az2F3lsNcVQibWNrAJh6n8IbqbqL" /> 
    <add key="PayPalCheckoutReviewURL_SB" value="https://dev-local2.tetrasys.eu/Checkout/CheckoutReview.aspx" /> 
    <add key="PayPalCheckoutCancelURL_SB" value="https://dev-local2.tetrasys.eu/Checkout/CheckoutCancel.aspx" />

    <!--Config Password-->
    <add key="PasswordValidatorRequiredLength" value="6" />
    <add key="PasswordValidatorRequireNonLetterOrDigit" value="true" />
    <add key="PasswordValidatorRequireDigit" value="true" />
    <add key="PasswordValidatorRequireLowercase" value="true" />
    <add key="PasswordValidatorRequireUppercase" value="true" />
  
  
    <!-- ****************************** Begin email settings ******************************* -->
    <!-- *********************************************************************************** -->
    <add key="SMTPServer" value="smtp.kolumbus.fi" />
    <add key="SMTPRequiresAuthentication" value="false" />
    <add key="SMTPUseSsl" value="false" />
    <add key="SMTPPort" value="25" />
    <add key="SMTPUser" value="UserName" />
    <add key="SMTPPassword" value="UPassword" />
    <add key="SMTPTimeoutInMilliseconds" value="30000" />
    <!-- Leave this blank for ASCII encoding. Allowed values are utf-8, utf-32, and unicode -->
    <add key="SmtpPreferredEncoding" value="" />
    </appSettings>
  <system.web>
    <!--<customErrors mode="On" defaultRedirect="ErrorPage.aspx?handler=customErrors%20section%20-%20Web.config">
      <error statusCode="404" redirect="ErrorPage.aspx?msg=404&amp;handler=customErrors%20section%20-%20Web.config"/>
    </customErrors>-->
    
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
    <!--<pages>-->
    
    <pages validateRequest="false" enableViewStateMac="true" viewStateEncryptionMode="Auto" maxPageStateFieldLength="500" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" >    
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
        <add namespace="NorpaNet" />
        <add namespace="CKEditor" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="ct" namespace="NorpaNet.Components.Controls" assembly="NorpaNet" />  
        <add tagPrefix="CKEditor" namespace="CKEditor" assembly="CKEditor.NET" /> 
        <add tagPrefix="ct" tagName="Contact" src="~/Components/Controls/Contact.ascx" />
      
      </controls>
    </pages> 
    <membership>
      <providers>
        <!--
        ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
          ASP.NET Membership Role is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
      <!--<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler"/>-->
      <add name="UrlRewriter" type="NorpaNet.Components.UrlRewriter, NorpaNet" preCondition="" />
      <add name="CultureHelperHttpModule" type="NorpaNet.Helper.CultureHelperHttpModule, NorpaNet" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
        <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="false" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
</configuration>